@tailwind base;
@tailwind components;
@tailwind utilities;

.d-none {
display:none;
}
.top--100px {
top:-900px;
}
@media screen and (max-width:768px) {
.brightness{
backdrop-filter:brightness(0.5);
width:100em;
height:100em;
z-index:1;
}
}
@media screen and (min-width:768px){
.animation{
transition:all 0.4s;display:inline-block;
}
.animation:hover{
color:red;text-decoration: underline;
}
}
.bottom{
top:0;
z-index:3;
}
.links,
.bright{
transition: all 0.5s;
}
.spec-container{
padding-left:20px;padding-right:20px;margin-right:auto;margin-left:auto;width:100%;max-width:1140px;
}